{%extends 'base.html' %}
{%block content %}
    <h2>Detekcia negácie</h2>

    <form action="{{ url_for('home') }}" method="post">
        <div class="form-group">
            <label for="contentArea">Vložte text</label>
            <textarea class="form-control" id="contentArea" name="content" rows="3">{{ original }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Nájsť negáciu</button>
    </form>

    {% if results %}
        <h2>Výsledky</h2>
        <div class="sentence">
        {% for sentence in results %}
            {% for result in sentence %}
                <span class="{% if result['negator'] == 1 %}negator{% endif %}
                             {% if result['scope'] == 1 %}scope{% endif %}"
                      title="{{ result['lemma'] }} {{ result['pos'] }}">
                    {{ result['word'] }}
                </span>
            {% endfor %}
        {% endfor %}
        </div>
    {% endif %}
{%endblock%}
